.create__part {
  background-repeat: no-repeat;
  background-image: url(../img/create_plan_header.svg);
  background-size: cover;
  text-align: center;
  //   width: 327px;
  //   height: 400px;
  margin-left: auto;
  margin-right: auto;
  //   margin-top: 55px;
  border-radius: 20px;
  height: 70vh;
}
.create__title {
  font-family: Fraunces 9pt;
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  color: white;
  padding-top: 150px;
  padding-bottom: 24px;
}
.create__text {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #fefcf7;
  padding-bottom: 135px;
}

.all__div {
  background-repeat: no-repeat;
  background-image: url(../img/create2m.svg);
  background-size: cover;

  margin-top: 150px;
  padding-top: 100px;
  border-radius: 20px;
}

.works__title_create {
  width: 255px;
  height: 73px;
  font-family: Fraunces 9pt;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;

  color: white;
  margin-left: auto;
  margin-right: auto;
}

.works__text_create {
  width: 255px;
  height: 130px;

  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  //   text-align: left;
  color: #fefcf7;
  margin-left: auto;
  margin-right: auto;
}
.circle {
  width: 70%;
  height: 5px;
  background-color: #fdd6ba;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}
.circles {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 5px solid #0e8784;
}
.works__cards {
  padding-top: 50px;
  height: 400px;
}
@media (min-width: 905px) {
  .coffe__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 20px;
  }
  .coffe__card {
    width: 300px;
  }
}
@media (min-width: 765px) {
  .works__title_create {
    width: 230px;
    height: 73px;
    font-family: Fraunces 9pt;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;

    color: white;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .circle {
    display: block;
    width: 70%;
    height: 5px;
    background-color: #fdd6ba;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .work__alls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .create__part {
    background-repeat: no-repeat;
    background-image: url(../img/create_header_page_tablet.svg);
    background-size: cover;
    text-align: center;

    // width: 689px;
    // height: 450px;

    // margin-left: auto;
    // margin-right: auto;
  }
  .create__title {
    width: 324px;
    height: 48px;

    font-family: Fraunces 9pt;
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;

    color: white;
    // padding-top: 100px;
    // padding-bottom: 55px;
    padding-left: 55px;
  }
  .create__text {
    font-family: Barlow;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;

    color: #fefcf7;
    padding-bottom: 135px;
    padding-top: 55px;
    padding-left: 55px;
    width: 398px;
    height: 75px;
  }
  .works_img {
    display: inline-block;
    width: 75%;
    // height: 1px;
    margin-left: 20px;
    margin-right: auto;
  }
}
@media (min-width: 1100px) {
  .create__part {
    background-repeat: no-repeat;
    background-image: url(../img/creatre_desktop.svg);
    background-size: cover;
    text-align: center;
  }
  .create__title {
    width: 485px;
    height: 72px;

    font-family: Fraunces 9pt;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    text-align: left;

    color: white;
    // padding-top: 100px;
    // padding-bottom: 55px;
    padding-left: 55px;
  }
  .create__text {
    width: 445px;
    height: 78px;
    top: 104px;
    gap: 0px;
    opacity: 0.8px;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;

    color: #fefcf7;
    padding-bottom: 135px;
    padding-top: 55px;
    padding-left: 55px;
  }
}
.coffes__title {
  padding-top: 100px;
}
.coffe__part {
  padding-top: 100px;
  padding-bottom: 100px;
}
.coffes__titles {
  text-align: center;
  color: #83888f;
  font-size: 35px;
}
.__card_title {
  // color: white;
  &:hover {
    color: white;
  }
}
.coffe__card {
  margin-top: 50px;
  width: 100%;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  background: #f4f1eb;
  border-radius: 20px;
  //   text-align: center;
  padding: 24px;
  transition: all 0.8s ease;

  &:hover {
    transform: scale(1.1);
  }
  &:hover {
    background: #0e8784;
    color: white;
  }
}

.bottom__parts {
  background-repeat: no-repeat;
  background-image: url(../img/bottom_part.svg);
  background-size: cover;
  height: 220px;
  margin-bottom: 100px;
  border-radius: 20px;
  padding: 24px;
}
.bottom_title {
  color: white;
  font-size: 24px;
  text-align: center;
}
span {
  color: #0e8784;
}
@media (min-width: 765px) {
  .bottom__parts {
    background-repeat: no-repeat;
    background-image: url(../img/bottom_part.svg);
    background-size: cover;
    height: 150px;
    margin-bottom: 100px;
    border-radius: 20px;
    padding: 24px;
  }
}
.footer__all {
  border-radius: 20px;
}
